/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body {
    min-width: 1635px;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Noto Sans KR', sans-serif; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header{
    background-color: rgba(15,27,39,1);
    height: 63px;
    position: fixed;
    width: 100%;
    z-index: 990;
    min-width: 800px;
}
#wrap{
    width: 100%;
}
.menu_left{
    display: inline-flex;
    justify-content: space-around;
    width: 400px;
    height: 63px;
    align-items: center;
}
.menu_left li{
    opacity: .5;
    cursor: pointer;
}
.menu_left li:first-child{
    opacity: 1;
}
.menu_left li:hover{
    opacity: 1;
    font-weight: bold;
}
.menu_right{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    float: right;
    height: 63px;
    margin-right: 2%;
    
}
.menu_right li{
    margin-right: 15px;
}
.title{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    justify-content: center;
}
.floating-btn{
    z-index: 30;
    position: fixed;
    bottom: 30px;
    right: 50px;
}
#submit{
    width: 30% !important;
    padding: 10px 0px 30px 0px !important;
    cursor: pointer;
}
#login{
    max-width: 400px;
    margin: 0 auto;
}
#login p{
    text-align: right;
    cursor: pointer;
}
#login input{
    display: block;
    margin: 20px auto 0px;
    width: 100%;
    height: 30px;
    background-color: #000;
    color: #fff;
    border: 2px solid #3d5a74;
    padding: 20px 10px;
}
.login_head{
    background: linear-gradient(to bottom,#fff2d8 0,#ebc98b 50%,#c6a052 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 30px;
}
.pass_find{
    text-decoration: underline;
    cursor: pointer;
}

.blur{
    filter:blur(20px);
    z-index:-1;
    
  }
.bg-text {
    /* background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);  */
    color: white;
    font-weight: bold;
    /* border: 3px solid #f1f1f1; */
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 50;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
    line-height: 5rem;
    /* display:none; */
}
.but{
    font-size: 30px;
    position: fixed;
    z-index: 999;
    top: 60px;
    right: 100px;
    background: none;
    border: none;
    cursor: pointer;
}
    /* display:none; */
.section1{
    height: 100vh;
    display: grid;
    align-items: center;
    color: #ffffff;
}
.container{
    max-width: 996px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
.fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.header-overlay{
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgba(32, 34, 36, 0.514);
}
.header-content{
    z-index: 3;
    display: grid;
}
#myVideo {
    min-width: 100%;
    min-height: 100%;
}
.section2{
    background: darkgrey;
    height: 400px;
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.section3{
    width: 100%;
    background: #030406;
}
.overlay{
    /* width: 100vw; */
    height: 100%;
    background: rgba(32, 34, 36, 0.514);
    
}
.section4{
    height: 100%;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    background: url(../img/bg_webp.jpg);
   
}
.section_text{
    padding: 60px 0px 40px;
    font-size: 24px;
    line-height: 3rem;
    opacity:0;
    margin-bottom:-30px;    
    max-width:100%;
    color: white;
    z-index: 20;
}
.left_box{
    width: 30%;
    height: 400px;
    margin: 70px 0px;
    /* background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    display: inline-block;
    position: relative;
    vertical-align: middle;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    opacity:0;
    margin-left:-0px;    
    max-width:100%;

}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover{
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.right_box{
    width: 30%;
    height: 550px;
    margin: 0px 40px;
    text-align: left;
    line-height: 3rem;
    display: inline-block;
    position: relative;
    opacity:0;
    margin-right:-100px;    
    max-width:100%;
    color: white;
    z-index: 20;
}
.test{
    width: 100%;
    height: 500px;
    /* background: cyan; */
    padding: 80px;
}
figure{
    z-index: -1;
    
}
.section5{
    background-image: url(../img/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.section6{
    position: relative;
    width: 100%;
    height: 1029px;
    top: -52px;
    margin-top: -163px;
    margin-bottom: -345px;
}
.section7{
    width: 100%;
    height: 100%;
}
.section8{
    width: 100%;
    height: 100%;
    margin-bottom: -140px;
}
.img{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 4;
}
.img2{
    z-index:5;
    width: 100%;
    position: relative;
    margin-top: -90px;
}
.img3{
    z-index: 6;
    width: 100%;
    position: relative;
    top: -133px;
    margin-bottom: -20px;
    margin-top: -230px;
}
.right_text_content {
    position: absolute;
    top: 350px;
    right: 50px;
    z-index:7; 
    color: white;
    line-height: 2rem;
}
.right_text_content2 {
    position: relative;
    float: right;
    top: 200px;
    right: 50px;
    z-index:7; 
    color: white;
    line-height: 2rem;
}
.left_text_content{
    position: relative;
    top: 350px;
    left: 50px;
    z-index:7; 
    color: white;
    line-height: 2rem;
}
article{
    margin-top: 63px;
    min-height: 100vh;
    background: rgb(22, 21, 21);
    /* 세로 이미지 길게 필요 */
    /* background: url("../img/bg3.jpg");
    background-position: center;
    background-repeat: no-repeat; */
    /* background-size: cover; */
    
}
















footer{
    min-width: 100% !important;
    width: 100%;
    height: 403px;
    background: black;
    position: relative;
    color: white;
    text-align: center;
}
.footer_icon{
    padding: 40px 0px;
}
.footer_icon li{
    margin: auto 20px;
    display: inline-block;
    cursor: pointer;
}
.footer_icon li:hover{
    scale: .5;
}
.footer_menu li{
    margin: auto 10px;
    display: inline-block;
    cursor: pointer;
}
.footer_menu li:hover{
    color: yellow;
}
.hoho{
    display: none;
}

@media screen and (max-width:960px) {
    /* .hoho{ 
        display: inline;
    }
    .hoho2{ 
        display:none;
   } */
   .container{
    padding-left: 3rem;
    padding-right: 3rem;
    }
    
}