*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body {
    line-height: 1;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Noto Sans KR', sans-serif; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header{
    background-color: rgba(15,27,39,1);
    height: 63px;
    position: fixed;
    z-index: 990;
    width: 100%;
}
.nav{
    width: 100%;
    height: 100%;
    padding: .5rem 0px;
}
.nav li{
    display: inline-block;
    padding: 0 2%;
    opacity: .7;
}

.nav li p{
    font-size: .7rem;
    color: white;
    margin-top: .2rem;
    /* font-weight: bold; */
    color: #ffffff;
}
.menu_left{
    float: left;
    text-align: center;
}
.menu_right{
    float: right;
    margin-top: 10px;
}
.floating-btn{
    z-index: 30;
    position: fixed;
    bottom: 20px;
    right: 25px;
}
#submit{
    width: 30% !important;
    padding: 10px 0px 30px 0px !important;
    cursor: pointer;
}
#login{
    max-width: 400px;
    margin: 0 auto;
}
.bg-text p:last-child{
    line-height: 2rem;
    margin-top: 30px;
}
#login p{
    text-align: right;
    cursor: pointer;
   
}
#login input{
    display: block;
    margin: 20px auto 0px;
    width: 100%;
    height: 30px;
    background-color: #000;
    color: #fff;
    border: 2px solid #3d5a74;
    padding: 20px 10px;
}
.login_head{
    background: linear-gradient(to bottom,#fff2d8 0,#ebc98b 50%,#c6a052 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 30px;
}
.pass_find{
    text-decoration: underline;
    cursor: pointer;
}

.blur{
    filter:blur(20px);
    z-index:-1;
    
  }
.bg-text {
    /* background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);  */
    color: white;
    font-weight: bold;
    /* border: 3px solid #f1f1f1; */
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 50;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    line-height: 3rem;
    /* display:none; */
}
.but{
    font-size: 30px;
    position: fixed;
    z-index: 999;
    top: 13px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
}
.section1{
    background-image: url("../../img/m/main.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
.header-content{
    height: 100%;
}
.header-content img{
    width: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.section2{
    width: 100%;
    height: 400px;
    background: rgb(221, 139, 81);
}
.slide_item{
    height: 250px;
    margin: 75px auto !important;
}
.section3{
    background-image: url("../../img/bg_webp.jpg");
    background-position: left;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.overlay{
    width: 100%;
    height: 100%;
    padding-bottom: 30%;
    background: rgba(32, 34, 36, 0.514);;
}
.section_text{
    text-align: center;
    color: #ffffff;
    line-height: 2rem;
    padding: 10% 15px 0;
}
.section_text span,.section_text2 span{
    font-size: 1.5rem;
}
.section_text p,.section_text2 p{
    font-size: 1rem;
}
.section_text2{
    padding: 0 15px 10%;
    text-align: center;
    color: #ffffff;
    line-height: 2rem;
}
.left_box{
    width: 100%;
    margin: 20% 0px;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    max-width:100%;
}
.left_box img{
    width: 100%;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover{
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
    
}

.video{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 10%;
    padding: 30px;
}
.videowrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 비율인 경우 */
    /* padding-bottom값은 4:3 비율인 경우 75%로 설정합니다 */
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15px;
}

.section4{
    background-image: url("../../img/b1.png");
    background-position: left;
    /* background-size: cover; */
    object-fit: cover;
    height: 800px;
    position: relative;
    top: -150px;
    margin-bottom: -100px;
}
.right_text_content {
    z-index:3; 
    color: white;
    line-height: 2rem;
    text-align: center;
    padding: 300px 15px 0;
}
.section5{
    background-image: url("../../img/b2.png");
    background-position: right;
    background-repeat: no-repeat;
    /* background-size: cover; */
    object-fit: cover;
    height: 800px;
    position: relative;
    top: -150px;
    margin-bottom: -210px;
}
.section6{
    background-image: url("../../img/b3.png");
    background-position: left;
    background-repeat: no-repeat;
    /* background-size: cover; */
    object-fit: cover;
    height: 800px;
    position: relative;
    top: -150px;
    margin-bottom: -220px;
}
footer{
    width: 100%;
    height: 500px;
    background: black;
    position: relative;
    color: white;
    text-align: center;
}
.footer_icon{
    padding: 40px 0px;
}
.footer_icon li{
    margin: auto 20px;
    display: inline-block;
    cursor: pointer;
}
.footer_menu{
    text-align: left;
    margin-left: 15px;
}